    *{
         margin: 0;
        box-sizing: border-box;
    }
    .border{
        width: 225px;
        height: 225px;
        background-color:
        yellowgreen;
        float: left;
        margin:1%;
    }
    .hr1{
        border: 8px solid;
        background-color: blueviolet;
    }
    .hr2{
        border: 8px dashed;
        border-radius: 112px;
        background-image: url(img2.jpg);
        background-size: 225px 225px ;
    }
    .hr3{
        border-top: 20px solid royalblue;
        border-radius: 112px,;
        border-bottom: 20px solid royalblue;
    }
    .border p{
        color: royalblue;
        background-color: whitesmoke;
        text-align: justify;
    }
    .hr4{
        border: 10px dotted red;
    }
    .hr5{
        border-radius: 50% 10%;
        border: 5px solid red;
    }
    .hr6{
        border-radius: 0% 20%  20% 0%;
        border: 10px solid gold;
    }
    .hr7{
        border-radius: 0% 50% 0% 50%;
        border: dashed pink 10px;
        background-color: orange;
    }
     .hr8{
        border-radius: 50% 0% 50% 0%;
        border: dashed pink 10px;
        background-color: orange;

    }
    .hr9{
        border-radius: 120%;
        border: medium 10px yellow;

    }
    .hr10{
        border-radius: 10% 10% 10% 10%;
        background-color: red ;
        border: 10px double black;
    }
    .hr11{
        border-left: 50px black solid;
        

    }
    .hr12{
          border-radius: 50% 0% 50% 0%;
        border: dashed pink 10px;
        background-color: orange;
    }
    .hr13{
         border-radius: 0% 50% 0% 50%;
        border: dashed pink 10px;
        background-color: orange;
    }
    .hr14{
        border-top: 80px orange solid;
        background-color: whitesmoke;
        border-bottom: 80px green solid;
    }
    .hr15{
        border-radius: 50% 0%  0% 50%;
        border: 10px solid gold;

    }
